ul {
    list-style-type: none;
    color: rgb(18, 18, 62);
    text-align: center;
    margin-right: 13%;
    font-weight: bold;
    margin-top: 3%;
}

li {
    margin-bottom: 6%;
    font-size: 18px;
}

body{
    background: linear-gradient(to left, #6696ea, #6b4618);
}

h1 {
    color: rgb(18, 18, 62);
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: rgb(18, 18, 62);
    text-decoration: underline;
}

input {
    margin-left: 5%;
    width: 20%;
    padding: 7px 7px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    padding: .5%;
    width: 8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #6b4618;
}

p {
    font-size: 20px;
}